@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');




nav, footer{
    background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body{
    background: #5682a7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #eef2f3, #103858);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #eef2f3, #a6c3db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#navone{
    filter: drop-shadow(10px 10px 20px rgb(166, 103, 224));
}

#navtwo{
    filter: drop-shadow(10px 10px 10px rgb(170, 155, 184));
}

#navthree{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background: #c33764;
    background: linear-gradient(to right, #c33764, #1d2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#headingone{
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
        
}

#headingtwo{
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#imgone{
    filter: drop-shadow(10px 10px 20px black);
}


#imgtwo:hover{
    filter: drop-shadow(10px 10px 15px rgb(153, 0, 255));
}

#imgtwo{
    filter: drop-shadow(10px 10px 20px rgb(103, 103, 216));
    border-color: #121FCF;
}

#imgthree{
    text-decoration: underline;
    text-decoration-color: #121FCF;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
   
}












